html,
body {
    height: 100%;
    font-size: 16px;
    color: white;
    background: url(images/bg_01.png) center center;
}

p {
    font-family: Roboto-Medium;
}

.title-cover {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 50px;
    float: none;
    text-align: center;
    font-family: alphbeta;
}

h1 {
    font-size: 70px;
}

.row-icon {
    margin-top: 5px;
    padding-left: 1000px;
    padding-top: 5px;
    float: none;
}

.container-fluid {
    background-color: rgba(128, 79, 219, 0.17);
    float: none;
    margin: auto;
    padding: 0px;
}

h2,
h3,
h4 {
    font-family: small_pixel-7;
}

.col-nav {
    float: none;
    margin: auto;
    padding-bottom: 25px;
    padding-top: 25px;
}

.row-contact {
    margin: auto;
    float: none;
    text-align: center;
    padding-top: 100px;
}

.nav {
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: 'PixelSplitter-Bold';
    text-decoration: none;
    padding: 10px;
    color: white;
    border: 1px solid;
}

.nav:hover {
    color: #ef7b07;
    transition: 0.5s;
}

.col-icon {
    float: left;
    clear: both;
    padding: 5px;
    margin: 10px;
}

.col-sm-3 a {
    text-decoration: none;
}

.col-sm-3 {
    /*border: 1px solid #DDD;*/
    /** background-color: rgba(118, 15, 221, 0.83);**/
}

.relase-info {
    margin: auto;
    float: none;
    text-align: center;
    color: #e3ab12;
}

.relase-text {
    font-family: alphbeta;
    font-size: 20px;
}

.relase-text:hover {
    color: #c74907;
    transition: 0.5s;
}

.col-description {
    float: none;
    margin: auto;
    padding-top: 50px;
    padding-left: 30px;
}

.col-features {
    float: none;
    margin: auto;
    margin-top: 50px;
    padding-left: 20px;
}

.col-screenshots {
    float: none;
    margin: auto;
    padding-top: 40px;
    padding-left: 150px;
    padding-bottom: 20px;
}

.col-sm-6 {
    padding-left: 150px;
}

.img-screenshots {
    padding: 5px;
}

.row-about {
    margin: auto;
    float: none;
    padding-top: 80px;
    padding-bottom: 20px;
}

.col-shohan-pic {
    margin-left: 150px;
    float: left;
    padding: 20px;
}

.col-shohan-details {
    margin: auto;
}

.about-shohan {
    margin: auto;
    padding-right: 50px;
}

.img-profile {}

.text-social {
    color: #edad33;
    text-decoration: none;
}

.info-me {
    padding-top: 20px;
    padding-right: 50px;
    font-size: 14px;
    font-family: Roboto-Medium;
}

.social-img {
    padding: 5px;
}

.bold-text {
    color: #ef7b07;
}

.com-sm-2 {
    padding-left: 200px;
}

.text-overlay {
    font-size: 14px;
    font-family: Roboto-Medium;
    position: absolute;
    top: 0px;
    padding-left: 25px;
    left: 0;
    width: 100%;
}

.dev-gif {
    position: relative;
}

.presskit-text-title {
    font-size: 14px;
    font-family: 'Roboto-Medium';
    color: #f0c510;
}

.presskit-text {
    font-size: 12px;
    font-family: 'Roboto-Medium';
}

.col-factsheet {
    float: left;
    margin-left: 150px;
    padding-top: 25px;
}

hr {
    border-color: rgba(250, 250, 250, 0.52);
}

.press-screenshots {
    padding: 10px;
    width: 300px;
    height: 505px;
}


/*Font faces*/

@font-face {
    font-family: 'Roboto-Medium';
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'alphbeta';
    src: url(fonts/alphbeta.ttf);
}

@font-face {
    font-family: 'PixelSplitter-Bold';
    src: url(fonts/PixelSplitter-Bold.ttf)
}

@font-face {
    font-family: 'small_pixel-7';
    src: url(fonts/small_pixel-7.ttf)
}

@font-face {
    font-family: 'SFPixelate';
    src: url(fonts/SFPixelate.ttf)
}

@font-face {
    font-family: 'Pixeled';
    src: url(fonts/Pixeled.ttf)
}